body {
    margin: 0;
}
figure img {
    height: 90vh;
    position:relative;
}

figure {
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    overflow:hidden;
}

#identifier {
    width: 20vh;
    height: 20vh;
    position: absolute;
    bottom: 25vh;
    right: 13vh;
    z-index: 1;
    cursor: pointer;
}

.container {
    position: relative;
    display:inline-block
}

body::before {    
    content: "";
    background-image: url(images/devilmoo.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.general {
    top:50vh;
    transform: translate(0, -50%);
    transition: 3s;
}

.closeup {

    top:50vh;
    transform: translate(0, -50%);
    height: 100vh;
    transform-origin: 60% 80%;
    transform: scale(3);
    transition: 3s;
}

.show {
    background-color: white;
    opacity: 50%;
}

.sins {
 width: 100px;
 height: 100px;
 line-height: 50px;
 border-radius: 50%;
 background-color: rgba(102, 0, 0, 0.8);
 position: absolute;
 opacity: 0;
 text-align: center;
 vertical-align: middle;
 color: rgba(255, 255, 255, 0.4);
 font-family: "alta-california", sans-serif;
 font-size: 1.5em;
}

.sins:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#wrath {
    top: 20vh;
    right: 20vw;
}

#gluttony {
    top: 15vh;
    right: 30vw;
}

#lust {
    top: 17vh;
    right: 40vw;
}

#envy {
    top: 25vh;
    right: 50vw;
}

#sloth {
    top: 37vh;
    right: 58vw;
}

#greed {
    top: 50vh;
    right: 65vw;
}

#pride {
    top: 67vh;
    right: 68vw;
}

.info {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    visibility: hidden;
    transition: 1s;
}

.info h2 {
    font-family: "louvette-banner", serif;
    font-size: 3em;
    transform: translate(0, -100vh);
    margin: 0;
    background-color: rgb(151, 26, 26);
    box-sizing: border-box;
    height: 100vh;
    width: 20vw;
    padding: 5vw;
    transition: 1s;
    text-align: center;
    font-size: 5em;
    writing-mode: vertical-rl; text-orientation: upright;
    text-shadow: 5px 5px white;
    font-family: "alta-california", sans-serif;
}

.info div {
    transform: translate(-100vw, 0);
    background-color: white;
    padding: 3em;
    position: relative;
    align-items: center;
    display: flex;
    height: 60vh;
}

h1 {
    font-family: "louvette-banner", serif;
    position: absolute;
    left: 5vw;
    top: 0;
    margin:1vh;
    font-size: 5em;
    text-shadow: 5px 5px #a8c6e1;
    z-index: 2;
}
h4 {
    position: absolute;
    left: 8vw;
    top: 13vh;
    margin:1vh;
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    text-align: right;
    visibility: visible;
    margin: 1vw;
    transition: 2s;
}


.back {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: black;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

#return {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    height: 5vh;
    width: 15vw;
    display: none;
    color: white;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    font-size: 1.5em;
    font-family: "louvette-banner", serif;
    text-shadow: 5px 5px black;
    letter-spacing: 0.1em;
}

#return:hover {
    cursor: pointer;
    color: red;
}

article {
    padding: 2vw;
}
