body {
    font-family: 'Karla', sans-serif;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

header {
    position: relative;
    height: 300px;
    margin: 1em 0 2.5em 0;
}

#header {
    position: absolute;
    max-width: 80%;
    height: auto;
    top: 4em;
    left: 5em;
    z-index: -10;
}

#profileContainer {
    position: absolute; 
    top: 3em;
    right: 5em;
    background-image: url(images/profile2.png);
    background-repeat: no-repeat;
    background-size: 250px;
    border-radius: 1em;
}

#profile:hover {
    border-radius: 1em;
    animation: animateProfile 2s infinite;
}

@keyframes animateProfile {
    
    50% {
        opacity:0 ;
    }
    100% { 
        opacity:1;
    }
}

header p {
    position: absolute;
    top: 8em;
    left: 6em;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    z-index: 1;
}

img {
    border-radius: 1em;
}

header h1 {
    position: absolute;
    top: 0.3em;
    left: 0.8em;
    font-size: 3em;
    color: white;
    margin : 0;
}

#name {
    top: 0.8em;
    left: 4em;
}

#hp {
    position: absolute;
    top: 13em;
    right: 18em;
    background-color: black;
    border: 1px solid white;
    width: 15em;
    height: 2em;
    border-radius: 1em;
}

#hpleft {

    background-color: red;
    width: 40%;
    height: 2em;
    border-radius: 1em 0px 0px 1em;
    transition: 2s ease-in-out;
    
}

#hp:hover #hpleft{
    width: 10%;
}

#mp {
    position: absolute;
    top: 16em;
    right: 18em;
    background-color: black;
    border: 1px solid white;
    width: 15em;
    height: 2em;
    border-radius: 1em;
}

#mpleft {
    background-color: blue;
    width: 30%;
    height: 2em;
    border-radius: 1em 0px 0px 1em;
    transition: 1s ease-in-out;
}

#mp:hover #mpleft{
    width: 6%;
}

article {
    display: flex;
}

ul {
    list-style: none ;
    background-color: white;
    padding: 1em 1em 1em 0;
    width: 15em;
    border-radius: 0 1em 1em 0;
}
ul li
{
    list-style-type: '◆';
    margin: 0 1em;
    padding: 0 0 0 0.5em;
}

#experiments {
    list-style: none;
    padding: 0;
    margin: 0;
}

article h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: black;
    color: white;
    -webkit-text-fill-color: black; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin: 0;
    padding: .5em .5em 3em .5em ;
}

article h3 {
    background-color: black;
    color: white;
    padding: 0.5em;
    width: 12.7em;
}

#rd{
    margin: 1.5em 0 0 0;
}

#final {
    margin: 3em 0 0 0;
}

#moomoo {
    position: absolute;
    left: 1em;
    bottom: -1.2em;
    transform: scale(0.8);
    animation: mooMoves 10s  infinite;
}

@keyframes mooMoves {
    40% {
        transform: translateX(20em) ;
    }
    70% { 
        transform: translateX(20em) rotateY(180deg);
    }
    95% { 
        transform: rotateY(180deg);
    }
}

footer {
    position: absolute;
    bottom: 0;
    right:45%;
}

a {
    text-decoration: none;
    color:black;
}
a:hover {
    color: red;
}
