body {
    font-family: "lores-9-narrow", sans-serif;
    color: white;
    line-height: 1.5em;
    background-image: url(images/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 95vh;
    overflow:hidden;
}

button { 
    padding: 10px;
}

button:hover {
    background-color: #48abe0;
    color:white;
}

div {
    padding: 5px;
}

#announcement {
    font-family: "macula-line";
    animation: float 5s ease-in-out infinite;
    margin: 1.5em 0 0 0;
}
#subannouncement {
    position: absolute;
    left: 50vw;
    width: 25vw;
    text-align: center; 
    transform: translate(-50%, -50%);
}

#gamecontrol, h1, h2 {
    text-align: center;
}

h1{
    animation: float 5s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 60vw;
    margin: 4vh auto;
    font-family: "macula-line";
    font-size: 5vh;
    color: black;
    background-color: white;
    padding: 50px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px #324ea8;
}

h1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid white;
    border-left: 20px solid transparent;
    border-top: 20px solid white;
    border-bottom: 10px solid transparent;
    left: 50%;
    bottom: -15%;
  }

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

#player, #cpu {
    margin: 2vh 5vw;
    height: auto;
    width: 25vw;
    border-radius: 1em;
    text-align: center;
}

#scoreboard {
    display: none;
    justify-content: space-between;
}

#overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#gameinfo{
    background-color: white;
    color: black;
    width: 80vw;
    padding: 3em;
    border-radius: 1em;
    margin: auto;
    transform: translate(0, 50%);
    text-align: center;
}

#gameinfo p {
    text-align: left;
}

.open {
    display: block;
}
.closed {
    display: none
}
#openinfo {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#openinfo:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.activeplayer {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 50px 15px #48abe0;
}

.nonactiveplayer {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 50%;
}

#gamecontrol {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.controlstart {
    bottom: 5%;
}

.controlquit {
    bottom: -5%;
}

img {
    width: 200px;
    height: 200px;
}

#table {
    position: absolute;
    width: 100vw;
    height: 21vh;
    bottom: 0;
    z-index: -2;
}

#yelan {
    width: 90vh;
    height:auto;
    position: absolute;
    top: 15vh;
    left: 50vw;
    z-index: -1;
    transform: translate(-50%, 0);
}