body{
    background-color: black;
}

html {
    scroll-behavior: smooth;
   }

h1 {
    font-family: "lullabies-heavy", sans-serif;
    color: white;
    font-size: 15vh;
    line-height: 1em;
    margin:0;
    width: 60%;
    text-align: center;
    float: right;
}

#comic div{
    text-align: center;
    margin: auto;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

#panel2 p {
    position: absolute;
    width: 35%;
    top: 10%;
    left: 5%;
    font-size: 3.5vw;
}

#panel3 p {
    position: absolute;
    width: 30%;
    top: 10%;
    left: 5%;
}

#panel4 p {
    position: absolute;
    width: 30%;
    top: 18%;
    right: -3%;
    font-size: 2em;
}

#panel5 p {
    position: absolute;
    width: 25%;
    top: 15%;
    right: 5%;
    font-size: 1.5em;
}

header {
    background-image: url(images/header-art.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    padding: 2em;
    float: right;
    text-align: center;
    font-family: 'Futura';
}

h2 {
    font-family: 'Futura';
}

p {
    font-family: 'Patrick Hand', cursive;
}
 #panel3 p {
    font-family: 'Niconne', cursive;
 }

.hidden {
    display: none;
}

.show {
    display: block;
}

label{
    display: block;
    text-align: left;
}

header div {
    display: inline-block;
    padding: 0.5em;
}

#submit {
    display: block;
    padding: 0.5em;
    margin: 1em auto auto auto;
}


#comic h2 {
    display: none;
}


@media only screen and (min-width: 600px) {
   header {
    background-position: center;
    background-size: 85%;
   }

   .show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   }

   div {
    display: inline-block;
   }

   #panel2 p {
    font-size: 1.5vw;
   }
   #panel3 {
    display: block;
    font-size: 2vw
   }

   form {
    margin-right: 10vw; 
    margin-top: 0;
    width: 30vw;
   }
}